name: Checkov IaC Security Scan

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  checkov-scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Checkov
        run: pip install checkov

      - name: Run Checkov Scan
        run: |
          checkov -d . --framework terraform --output json --output-file-path .
        
      - name: Upload Checkov Results
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: checkov-results
          path: results_json.json
